*{
  font-family: "opensans";
}
.padding-vertical-10{
  padding: 10px 0;
}
.padding-10{
  padding: 10px;
}
.text-small{
  font-size: 1.2rem;
}
.text-large{
  font-size: 2rem;
}
.text-bold{
  font-weight: bold;
}
.text-white{
  color: #fff;
}
