@font-face{
    font-family: OpenSans;
    src: url('../assets/fonts/openSans.woff2') format('woff2');
  }
  @font-face{
    font-family: Lato;
    src: url('../assets/fonts/Lato.woff2') format('woff2');
  }  