page-dashboard {
     .header{
         &:after{
        background-image: none;
         }
        background: $bg-orange; 
        color: $white;
      .search-wrapper{
          padding: 0;
          background: none;
          border-bottom: none;
       input{
            box-shadow: inherit;
            padding: 0 10px 0 30px;
            font-size: 1.25rem;
            border-radius: 5px;
        }
        .searchbar-search-icon{
            left: -4px;
            top: 6px;
            background-size: 16px;
            margin-left: 10px;
            }
      }  
      button{
        background:none;
        padding-left: 0;
        .icon{
            padding: 10px 0 0 0;
            color: $white;
        }
    }
    .page-title{
        font-size: 1.25rem;
        text-transform: uppercase;
        font-family: "OpenSans";
        font-weight: bold;
        letter-spacing: 0.025em;
    } 
    }

    .content-section{
        .select{
            max-width: 100%;
            padding: 0 10px;
    .select-icon{top: -7px;
            .select-icon-inner{ border: none;
                &::before{
                    content: "\f3d0";
                    font-size: 20px;
                    display: inline-block;
                    font-family: "Ionicons";
                    color: $black;
                    }
                }
            }
        }
       .list{
           .item{
            padding-left: 5px;
            h2{font-weight: bold;}
            ion-thumbnail{
                margin: 8px 10px 8px 0;
                }
            .rating{
                span{display: block;}
                .value{
                    display: inline-block;
                }
                .icon{
                    font-size: 1.5rem;
                }
            }
            .item-inner{
                padding-right: 0;
                background-image: none;
            }
           }
       } 
    }
   
}
